<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span class="brand-title ng-binding">Java/Spring/Thymeleaf Case Management System</span></a>
        </div>
        <div class="navbar-collapse collapse" uib-collapse="isCollapsed" aria-expanded="false" aria-hidden="true"
             style="height: 0px;">
            <div class="pull-right navbar-logo">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a ng-href="http://resqsoft.com" target="_blank" class="ng-binding"
                           href="http://resqsoft.com">
                            Created by ResQSoft Engineer 5.1
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
